.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--second-color);
  background-image: linear-gradient(
      to bottom,
      rgba(136, 106, 92, 0.7),
      rgba(66, 56, 46, 0.7)
    ),
    url('../assets/background-image.png');

  box-shadow: -8px -8px 12px rgba(199, 190, 185, 0.95),
    8px 4px 8px rgba(123, 107, 88, 0.95);
  outline-offset: -2px;
}

@media only screen and (min-width: 826px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    min-width: 100%;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.functionalCont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 380px;
  min-width: 320px;
  margin-bottom: 30px;
}

.title {
  font-size: 36px;
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
}
